<%- include("../partials/header.ejs"); %>
<div class="bg">
	<h1 class="form-header">
		Sign Up
	</h1>
	<div class="container" id="flash-msg">
		<% if(success && success.length > 0){ %>
			<div class="alert alert-success" id="flash-success" role="alert">
			<%= success %>
			</div>
		<% } %>
		<% if(danger && danger.length > 0){ %>
			<div class="alert alert-danger" id="flash-danger" role="alert">
				<%= danger %>
			</div>
		<% } %>
		<% if(warning && warning.length > 0){ %>
			<div class="alert alert-warning" id="flash-warning" role="alert">
				<%= warning %>
			</div>
		<% } %>
	</div>
	<form action="/register" method="POST">
		<div class="card" id="form-card">
			<div class="card-body">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" placeholder="Username" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" placeholder="Password" class="form-control">
				</div>
				<button class="btn btn-large btn-success">
					Sign In
				</button>
			</div>
		</div>
	</form>
</div>
<%- include("../partials/footer.ejs"); %>