<%- include("partials/header.ejs"); %>
<h1>
	Index page
</h1>
<a href="/index/new" class="btn btn-lg btn-primary">Add new note group</a>

<% allGroups.forEach(function(group){ %>
	<p>
		<h1 style="color:<%=group.color %>">
			<%= group.name; %>
		</h1>
		<p>
			<%= group.desc; %>
		</p>
	</p>
<% }); %>
<%- include("partials/footer.ejs"); %>