<%- include("partials/header.ejs"); %>
<div class="jumbotron" id="jumbo-back">
	<div class="container">
		<h1>
			Note Groups
		</h1>
		<a href="/index/new" class="btn btn-lg btn-primary">Add new note group</a>
	</div>
</div>
<div class="container" id="flash-msg">
	<% if(success && success.length > 0){ %>
		<div class="alert alert-success" id="flash-success" role="alert">
		<%= success %>
		</div>
	<% } %>
	<% if(danger && danger.length > 0){ %>
		<div class="alert alert-danger" id="flash-danger" role="alert">
			<%= danger %>
		</div>
	<% } %>
	<% if(warning && warning.length > 0){ %>
		<div class="alert alert-warning" id="flash-warning" role="alert">
			<%= warning %>
		</div>
	<% } %>
</div>

<div class="container">
	<div class="row" style="min-height:400px">
		<% user.Group.forEach(function(group){ %>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="card" id="index">
					<div class="card-header">
						<h3 style="color:<%=group.color %>">
							<%= group.name; %>
						</h3>
					</div>
					<div class="card-body" style="min-height:200px; background-color: <%=group.color %>">
						<p>
							<%= group.desc; %>
						</p>
					</div>
					<a href="/index/<%=group._id %>/show" class="btn btn-md btn-outline-light btn-block no-radius">Open</a>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<%- include("partials/footer.ejs"); %>