<%- include("partials/header.ejs"); %>
<div class="jumbotron" id="jumbo-back">
	<div class="container">
		<h1>
			Note Groups
		</h1>
		<a href="/index/new" class="btn btn-lg btn-primary">Add new note group</a>
	</div>
</div>

<div class="container">
	<div class="row">
		<% user.Group.forEach(function(group){ %>
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="card" id="index">
					<div class="card-header">
						<h3 style="color:<%=group.color %>">
							<%= group.name; %>
						</h3>
					</div>
					<div class="card-body" style="min-height:200px; background-color: <%=group.color %>">
						<p>
							<%= group.desc; %>
						</p>
					</div>
					<a href="/index/<%=group._id %>/show" class="btn btn-md btn-outline-light btn-block no-radius">Open</a>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<%- include("partials/footer.ejs"); %>